.render {
  text-align: center;
  padding: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

@media (max-width: 699px) {
  .render {
    display: block;
  }
}

.intro {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 20px;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
  width: 100%;
  line-height: 70px;
  background-color: #EDB749;
}
